.pd-logo{
    padding-left: 80px !important;

}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: "Poppins", sans-serif; */
}

.dropright .dropdown-toggle::after, .dropdown-toggle::after {
    font-weight: bold;
}