.notification-container::-webkit-scrollbar{
    width: 7px;
}

.notification-container::-webkit-scrollbar-button{
    display: none;
}

.notification-container::-webkit-scrollbar-track{
    background-color: rgb(211, 211, 211);
}

.notification-container::-webkit-scrollbar-thumb{
    height: 40%;
    background-color: gray;
    border-radius: 10px;
}